body {
         background-image:url(https://getwallpapers.com/wallpaper/full/5/1/f/793972-beautiful-nature-background-2880x1800-for-1080p.jpg);
         font-family: "Bitcount Prop Single Ink", system-ui;
      }.container {
         background-color: #dfe0cf;
         border-radius: 8px;
      }
       .row {
            background-color: rgb(255, 255, 255);
    
       }
         .col-md-4 {
                background-color: lightblue;
               
         }
         .col-md-4 {
                    background-color: lightgreen;
            }